http://www.concordia.ca/content/concordia/en/finearts/studio-arts/programs/graduate/admission-requirements.htmlApplicants to the MFA in Studio Arts are expected to have a Bachelor of Fine Arts degree or an approved equivalent with at least a B average. Please refer to the general application guidelines for additional information.
Note: Concordia University BFA graduates must wait two years before applying for the MFA program.A portfolio is required for admission. Portfolio requirements are program specific. Please check the listing below to ensure you have included all the components required for consideration into your chosen program.The applicant's submitted portfolio must be relevant to the projected research program as described in the Thesis proposal below. To be eligible for admission to the Graduate Film Production program, applicants must submit all of the following:Telephone: 514-848-2424 ext. 4607
 Fax: 514-848-4532
 E-mail: mfa.studioarts@concordia.ca © Concordia UniversityConcordia UniversityAdmission requirementsDepartment of Studio Arts
            
                Department of Studio ArtsApplication deadline: January 20 (Fall entry only)
                
					
                    Fibres and Material Practices, Print Media, Photography, Sculpture, Painting/Drawing, Intermedia (Video, Performance and Electronic Arts)
                
            
                
					
                    Film ProductionPortfolioContact informationConcordia University - Call us at 514-848-2424Application portfolios can be submitted via mail or courier. Please note: It is not possible to upload your portfolio online.